# ShopWise Environment Variables

# Alibaba DashScope Qwen API Key
# Get a key from Alibaba Cloud DashScope console
NEXT_PUBLIC_QWEN_API_KEY=sk-ws-H.XHDLRL.ofJw.MEYCIQCztu5gegyY7atzPRBUJbbI_dAQN6c-m8lHKLTcSNiXQQIhAM4DucySEGiFjMEblRltou3xh0HhOOeZ4FIjeJ7Mlqko

# Deployed Backend URL (e.g. Alibaba Cloud Function Compute HTTP Trigger URL)
NEXT_PUBLIC_BACKEND_URL=https://shopwisress-api-shopwis-service-ygjylcuhno.ap-southeast-1.fcapp.run
